:is(button, input[type=button]) {
	appearance: none;
	cursor: pointer;
	position: relative;
	display: inline-flex;

	background: var(--press_background);
	font: var(--button_font, var(--press_font));
	border: var(--press_border);
	border-radius: var(--press_border-radius);
	padding-block: var(--button_padding-block);
	padding-inline: var(--button_padding-inline);

	outline: var(--outline);
	outline-offset: var(--outline-offset);
	transition: all var(--transition-time);


	@media (hover: hover) {
		&:hover {
			background: var(--press_background_hover, var(--press_background));
			color: var(--press_color_hover, var(--press_color));
			border: var(--press_border_hover, var(--press_border));
			box-shadow: var(--press_box-shadow_hover, var(--press_box-shadow));
			
			/* outline: var(--outline_hover, var(--outline));
			outline-offset: var(--outline-offset_hover, var(--outline-offset)); */
		}
	}

	&:focus {
		/* outline: var(--outline_focus, var(--outline_hover));
		outline-offset: var(--outline-offset_focus, var(--outline-offset_hover)); */
	}

	&:active {
		background: var(--press_background_active, var(--press_background));
		color: var(--press_color_active, var(--press_color));
		border: var(--press_border_active, var(--press_border));
		box-shadow: var(--press_box-shadow_active, var(--press_box-shadow));
/* 
		outline: var(--outline_active, var(--outline_focus));
		outline-offset: var(--outline-offset_active, var(--outline-offset_focus)); */
	}

	&:disabled {
		cursor: not-allowed;

		background: var(--press_background_disabled, var(--press_background));
		color: var(--press_color_disabled, var(--press_color));
		border: var(--press_border_disabled, var(--press_border));
		box-shadow: var(--press_box-shadow_disabled, var(--press_box-shadow));
		opacity: var(--press_opacity_disabled, var(--press_opacity));
/* 
		outline: var(--outline);
		outline-offset: var(--outline-offset);		 */
	}
}
