:is(input[type=checkbox]) {
	appearance: none;
	position: relative;
	display: inline-flex;
	inline-size: 1.25rem;
	block-size: 1.25rem;
	justify-content: center;
	align-items: center;
	border: none;
	border: var(--button_border);
	border-radius: 3.7px;
	background-color: var(--button_bg);
	cursor: pointer;

	&::after {
		position: absolute;
		content: '';
	}
	&:hover {}
	&:focus {
		outline: var(--button_outline);
		outline-offset: var(--button_outline-offset);
	}
	&:active {}
	&:checked {
		/* background-color: darkgray; */
	}
	&:checked::after {
		content: '\002714';
	}
	&:indeterminate {}
	&:disabled {
		cursor: not-allowed;
	}
}
