:is(input[type=checkbox]) {
	appearance: none;
	position: relative;
	display: inline-flex;
	inline-size: 1.25rem;
	block-size: 1.25rem;
	justify-content: center;
	align-items: center;
	border: none;
	border: var(--button_border);
	border-radius: 3.7px;
	background-color: var(--button_bg);
	cursor: pointer;
	font: var(--button_font);

	&::before {
		position: absolute;
		content: '';
	}
	&:hover {}
	&:focus {
		/* background-color: var(--checkbox_checked); */
		outline: var(--button_outline);
		outline-offset: var(--button_outline-offset);
	}
	&:active {}
	&:checked {
		/* background-color: darkgray; */
		background: var(--button_bg_checked);
	}
	&:checked::before {
		content: '\2714';
		color: var(--button_color_checked);
	}
	&:indeterminate {
		content: '\2014';
	}
	&:disabled {
		cursor: not-allowed;
	}
}
