:is(input[type=checkbox]) {
	appearance: none;
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;

	block-size: var(--checkbox_block-size);
	inline-size: var(--checkbox_inline-size);
	font: var(--press_font);
	background: var(--press_background);
	color: var(--checkbox_color, var(--press-color));
	border: var(--press_border);
	border-radius: calc(0.5 * var(--press_border-radius));
	box-shadow: var(--press_box-shadow);

	outline: var(--outline);
	outline-offset: var(--outline-offset);
	
	transition: all var(--transition-time);

	&::before {
		content: var(--press_content_checked);
	}

	&:indeterminate::before {
		content: var(--press_content_indeterminate);
	}

	&:checked {
		color: var(--press_color_checked);

		&:hover {
			color: var(--press_color_hover, var(--press_color));
		}

		&:disabled {
			color: var(--press_color_disabled, var(--press_color));
		}
	}

	&:hover {
		background: var(--press_background_hover, var(--press_background));
		border: var(--press_border_hover, var(--press_border));
		box-shadow: var(--press_box-shadow_hover, var(--press_box-shadow));

		outline: var(--outline_hover, var(--outline));
		outline-offset: var(--outline-offset_hover, var(--outline-offset));
	}

	&:focus {
		outline: var(--outline_focus);
		outline-offset: var(--outline-offset_focus);
	}

	&:active {
		background: var(--press_background_active, var(--press_background));
		border: var(--press_border_active, var(--press_border));
		box-shadow: var(--press_box-shadow_active, var(--press_box-shadow));

		outline: var(--outline_active, var(--outline_focus));
		outline-offset: var(--outline-offset_active, var(--outline-offset_focus));
	}

	&:disabled {
		cursor: not-allowed;

		background: var(--press_background_disabled, var(--press_background));
		border: var(--press_border_disabled, var(--press_border));
		box-shadow: var(--press_box-shadow_disabled, var(--press_box-shadow));
		opacity: var(--press_opacity_disabled, var(--press_opacity));

		outline: var(--outline);
		outline-offset: var(--outline-offset);		
	}
}
