/* places for fonts and line heights */
input[type=color] {
	appearance: none;
	/* background-color: var(--action_bg-1); */
	border: var(--button_border);
	border-radius: var(--button_border-radius, 10%);
	padding: none;

	cursor: pointer;

	&:hover {}
	&:focus {
		outline: var(--outline);
		outline-offset: var(--outline-offset);
	}
	&:active {}
	&:disabled {
		cursor: not-allowed;
	}
}
