/* places for fonts and line heights */
/* places for fonts and line heights */
:is(input[type=time], input[type=date], input[type=datetime-local], input[type=number], input[type=phone]) {
	appearance: none;
	font: var(--number-input_font);
	border: none;
	background: var(--number-input_background);
	border-bottom: var(--text-input_border-bottom);
	cursor: text;
	padding-inline: var(--number-input_padding-inline);
	padding-block: var(--number-input_padding-block);
	color: var(--color);

	&:hover {
		border: var(--text-input_border_hover, --text-input_border);
		box-shadow: var(--text-input_box-shadow_hover, --text-input_box-shadow);

		outline: var(--outline_hover, --outline);
		outline-offset: var(--outline-offset_hover, --outline-offset);
	}

	&:focus {
		outline: var(--outline_focus);
		outline-offset: var(--outline-offset_focus);
	}

	&:active {
		border: var(--text-input_border_active, --text-input_border);
		box-shadow: var(--text-input_box-shadow_active, --text-input_box-shadow);

		outline: var(--outline_active, --outline_focus);
		outline-offset: var(--outline-offset_active, --outline-offset_focus);
	}

	&:disabled {
		cursor: not-allowed;

		background: var(--text-input_background_disabled, --text-input_background);
		border: var(--text-input_border_disabled, --text-input_border);
		box-shadow: var(--text-input_box-shadow_disabled, --text-input_box-shadow);
		opacity: var(--text-input_opacity_disabled, --text-input_opacity);

		outline: var(--outline);
		outline-offset: var(--outline-offset);		
	}
}
