:is(input[type=radio]) {
	appearance: none;
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	box-sizing: content-box;
	cursor: pointer;

	block-size: var(--checkbox_block-size);
	inline-size: var(--checkbox_inline-size);

	/* background: var(--color-invert); */
	color: var(--press_color);
	border: var(--press_border);
	box-shadow: var(--press_box-shadow);
	transition: all var(--transition-time);
	opacity: var(--press_opacity);

	outline: var(--outline);
	outline-offset: var(--outline-offset);

	/* radio island */
	&::before {
		content: '';
		/* --radio-island-size */
		display: block;
		inline-size: 0.6rem;
		block-size: 0.6rem;
		border-radius: 50%;
		/* radio island background */
		background: none;
	}

	&:checked::before {
			background: var(--press_color_checked);
			background: blue;
	}
	&:checked:hover::before {
		background: var(--press_color_hover, --press_color);
	}

	&:checked:active::before {
		background: var(--press_color_active, --press_color);
	}

	&:checked:disabled::before {
		background: var(--press_color_disabled, --press_color);
	}

	&:hover {
		background: var(--press_background_hover, --press_background);
		border: var(--press_border_hover, --press_border);
		box-shadow: var(--press_box-shadow_hover, --press_box-shadow);

		outline: var(--outline_hover, --outline);
		outline-offset: var(--outline-offset_hover, --outline-offset);
	}

	&:focus {
		outline: var(--outline_focus);
		outline-offset: var(--outline-offset_focus);
	}

	&:active {
		background: var(--press_background_active, --press_background);
		border: var(--press_border_active, --press_border);
		box-shadow: var(--press_box-shadow_active, --press_box-shadow);

		outline: var(--outline_active, --outline_focus);
		outline-offset: var(--outline-offset_active, --outline-offset_focus);
	}

	&:disabled {
		cursor: not-allowed;

		background: var(--press_background_disabled, --press_background);
		border: var(--press_border_disabled, --press_border);
		box-shadow: var(--press_box-shadow_disabled, --press_box-shadow);
		opacity: var(--press_opacity_disabled, --press_opacity);

		outline: var(--outline);
		outline-offset: var(--outline-offset);		
	}
}
