:is(input[type=radio]) {
	appearance: none;
	position: relative;
	display: inline-flex;
	inline-size: 1.25rem;
	block-size: 1.25rem;
	justify-content: center;
	align-items: center;
	border: var(--press_border);
	border-radius: 50%;
	box-sizing: content-box;
	cursor: pointer;

	&::after {
		content: '';
		inline-size: 0.75rem;
		block-size: 0.75rem;
		border-radius: 50%;
	}
	&:hover {}
	&:focus {
		outline: var(--outline);
		outline-offset: var(--outline-offset)
	}
	&:active {}
	&:checked {}
	&:checked::after {
		background-color: var(--button_bg_checked);
	}
	&:disabled {
		cursor: not-allowed;
	}
}
