select{
	/* appearance: none; */
	display: inline-block;
	background-color: var(--button_bg);
	font: var(--select_font);
	border: var(--select_border);
	cursor: pointer;

	&:hover {}
	&:focus {}
	&:active {}
	&:disabled {
		cursor: not-allowed;
	}
}
