input[type=checkbox][role=switch] {
	appearance: none;
	position: relative;
	display: inline-flex;
	justify-content: start;
	inline-size: 3rem;
	block-size: 1.75rem;
	font-size: 0.5em;
	/* line-height: 1rem; */
	cursor: pointer;
	transition: all var(--transition-time);

	border: var(--press_border);
	border-radius: 1.75rem;

	outline: var(--outline);
	outline-offset: var(--outline-offset);

	&::before {
		position: relative;
		content: '';
		transition: all var(--transition-time);
	}

	&:checked::before {
		flex-grow: 1;
	}

	/* switch island */
	&::after {
		position: relative;
		content: '';
		display: flex;
		justify-content: center;
		align-items: center;
		inline-size: 0.5rem;
		block-size: 0.5rem;
		border: var(--press_border);
		border-radius: 0.5rem;
		margin-inline: calc((1.5rem - 0.5rem) * 0.5 - 2px);
		transition: all var(--transition-time);
	}

	&:checked::after {
		content: '\002714';
		inline-size: 0.95rem;
		block-size: 0.95rem;
		border-radius: 0.95rem;
		background: var(--background_inverted);
		color: var(--press_background);
		margin-inline: calc((1.5rem - 0.95rem) * 0.5 - 2px);
	}

	&:checked {
		background: var(--background);
	}

	&:hover {
		background: var(--press_background_hover);
		border: var(--press_border);
		box-shadow: var(--press_box-shadow_hover);

		outline: var(--outline_hover);
		outline-offset: var(--outline-offset_hover);
	}

	&:focus {
		outline: var(--outline_focus);
		outline-offset: var(--outline-offset_focus);
	}

	&:active {
		background: var(--press_background_active);
		border: var(--press_border_active);
		box-shadow: var(--press_box-shadow_active);

		outline: var(--outline_active);
		outline-offset: var(--outline-offset_active);
	}

	&:disabled {
		cursor: not-allowed;

		background: var(--press_background_disabled);
		border: var(--press_border_disabled);
		box-shadow: var(--press_box-shadow_disabled);
		opacity: var(--press_opacity_disabled);

		outline: var(--outline);
		outline-offset: var(--outline-offset);		
	}
}

