/* places for fonts and line heights */
:is(input[type=text], input[type=password], input[type=email], input[type=url]) {
	appearance: none;
	position: relative;
	display:inline-flex;
	font: var(--text-input_font);
	border: none;
	background: var(--text-input_bg, #232323);
	border-bottom: var(--text-input_border-bottom);
	cursor: initial;
	padding-inline: var(--text-input_padding-inline);
	padding-block: var(--text-input_padding-block);
	color: var(--color);

	&:hover {}
	&:focus {
		outline: var(--button_outline);
		outline-offset: var(--button_outline-offset);
	}
	&:active {}
	&:disabled {
		cursor: not-allowed;
	}
}
