/* places for fonts and line heights */
textarea {
	appearance: none;
	background: var(--text-input_bg);
	font: var(--text-input_font);
	border: var(--text-input_border);
	border-bottom: var(--text-input_border-bottom);
	cursor: initial;
	min-inline-size: 225px;
	min-block-size: calc(var(--line-height) * 2);
	border: none;
	background: var(--text-input_background, #343434);
	border-bottom: var(--text-input_border-bottom);
	field-sizing: content;

	&:hover {}
	&:focus {
		outline: var(--outline);
		outline-offset: var(--outline-offset);
	}
	&:active {}
	&:disabled {
		cursor: not-allowed;
	}
}
