/* places for fonts and line heights */
textarea {
	appearance: none;
	background: var(--text-input_bg);
	font: var(--text-input_font);
	border: var(--text-input_border);
	border-bottom: var(--text-input_border-bottom);
	cursor: initial;
	field-sizing: content;
	/* min-width: initial; */
	min-inline-size: 225px;
	min-block-size: calc(var(--line-height) * 2);

	&:hover {}
	&:focus {
		outline: var(--button_outline);
		outline-offset: var(--button_outline-offset);
		/* border: 2px transparent solid;
		border-bottom: var(--text-input_border-bottom); */
	}
	&:active {}
	&:disabled {
		cursor: not-allowed;
	}
}
