/* places for fonts and line heights */
textarea {
	appearance: none;
	background: var(--text-input_bg);
	font: var(--text-input_font);
	border: var(--text-input_border);
	border-bottom: var(--text-input_border-bottom);
	cursor: initial;
	min-inline-size: 225px;
	min-block-size: calc(var(--line-height) * 2);
	border: none;
	background: var(--text-input_background, #343434);
	border-bottom: var(--text-input_border-bottom);
	field-sizing: content;

	&:hover {
		border: var(--press_border_hover, --press_border);
		box-shadow: var(--press_box-shadow_hover, --press_box-shadow);

		outline: var(--outline_hover, --outline);
		outline-offset: var(--outline-offset_hover, --outline-offset);
	}

	&:focus {
		outline: var(--outline_focus);
		outline-offset: var(--outline-offset_focus);
	}

	&:active {
		border: var(--press_border_active, --press_border);
		box-shadow: var(--press_box-shadow_active, --press_box-shadow);

		outline: var(--outline_active, --outline_focus);
		outline-offset: var(--outline-offset_active, --outline-offset_focus);
	}

	&:disabled {
		cursor: not-allowed;

		background: var(--press_background_disabled, --press_background);
		border: var(--press_border_disabled, --press_border);
		box-shadow: var(--press_box-shadow_disabled, --press_box-shadow);
		opacity: var(--press_opacity_disabled, --press_opacity);

		outline: var(--outline);
		outline-offset: var(--outline-offset);		
	}
}
