/* places for fonts and line heights */
:is(input[type=text], input[type=password], input[type=email], input[type=url]) {
	appearance: none;
	background: var(--text-input_bg);
	font: var(--text-input_font);
	border: var(--text-input_border);
	border-bottom: var(--text-input_border-bottom);
	/* border-start-start-radius: var(--text-input_border-radius);
	border-start-end-radius: var(--text-input_border-radius); */

	cursor: initial;
	padding-inline: var(--text-input_padding-inline);
	padding-block: var(--text-input_padding-block);
	color: var(--color);

	&:hover {}
	&:focus {
		outline: var(--button_outline);
		outline-offset: var(--button_outline-offset);
		/* border: 2px transparent solid;
		border-bottom: var(--text-input_border-bottom); */
	}
	&:active {}
	&:disabled {
		cursor: not-allowed;
	}
}
